.headerContainer {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
}
.hButton {
	flex-basis: 20%;
	font-family: Consolas;
	font-size: 2em;
}
.wrap {
	background-color: tomato;
}
.title {
	text-align:center;
	font-size:5em;
	color: white;
}